<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Golang CRUD</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Data Pasien</h1>
      <a href="/pasien/add" class="btn btn-primary btn-sm">Tambah Data</a>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Nama Lengkap</th>
            <th>NIK</th>
            <th>Jenis Kelamin</th>
            <th>Tempat Lahir</th>
            <th>Tanggal Lahir</th>
            <th>Alamat</th>
            <th>No HP</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
            {{ range .pasien }}
            <tr>
                <td>{{ .NamaLengkap}}</td>
                <td>{{ .NIK}}</td>
                <td>{{ .JenisKelamin}}</td>
                <td>{{ .TempatLahir}}</td>
                <td>{{ .TanggalLahir}}</td>
                <td>{{ .Alamat}}</td>
                <td>{{ .NoHP}}</td>
                <td>
                    <a href="/pasien/edit?id={{.Id}}" class="btn btn-sm btn-warning">Edit</a>
                    <a href="/pasien/delete?id={{.Id}}" onclick="return confirm('Apakah anda yakin menghapus data')" class="btn btn-sm btn-danger">Hapus</a>
                </td>
            </tr>
            {{ end }}
        </tbody>
      </table>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
